.Card * {
    padding: 0;
    margin: 0;
}

.Card {
    width: 240px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 12px;
    margin: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Card .image {
    height: 160px;
    display: flex;
    justify-content: center;
}
.Card .image img {
    height: 100%;
}

.Card p {
    margin-top: 8px;
}

.Card .bottom {
    display: flex;
    align-items: center;
    margin-top: 12px;
    justify-content: space-between;
}

.Card .bottom h4 {
    font-weight: 600;
    font-size: 120%;
}

.Card .bottom i {
    color: rgb(1, 160, 69);
    font-weight: bold;
    font-size: 140%;
}

